.cards {
  font-family: "Inter", Arial, sans-serif;
  padding: 15px 0 36px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 17px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 15px 31px 21px;
}

.card__image {
  min-height: 282px;
  max-height: 282px;
  object-fit: cover;
}

.card__like-button {
  width: 21px;
  height: 19px;
  background: transparent url("../src/images/like-inactive.svg") center
    no-repeat;
  background-size: 21px 18px;
  border: none;
  padding: 0;
  margin: 0;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete-button {
  width: 18px;
  height: 18px;
  background: transparent url("../src/images/delete-icon.svg") center no-repeat;
  background-size: 18px 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  padding: 0;
  margin: 0;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__like-button_is-active {
  background: transparent url("../src/images/like-active.svg") center no-repeat;
  background-size: 21px 18px;
}

@media screen and (max-width: 544px) {
  .cards {
    padding: 15px 0 18px;
  }
}
